*{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}
.home , .profile , .contactUS{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: rgb(216, 203, 213);
    color:black;
  }
